
// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.title {
  font-size: 1.2em;
  font-weight: 100;
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
}

.subtitle {
  line-height: 10px;
  font-size: 0.8em;
  color: yellow;
  margin-bottom: 1px;
}

.nav-button {
  margin: 0 !important;
}

.question-mark {
  position: absolute;
  top: 0px;
  right: 0px;
  fill: black;
}
