<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/PhpUnit/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnError="false" stopOnFailure="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="false">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="./coverage/coverage-clover.xml"/>
      <html outputDirectory="./coverage/" lowUpperBound="35" highLowerBound="70"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Laravel Test Suite">
      <directory suffix="Test.php">./tests/PhpUnit</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <env name="CACHE_DRIVER" value="file"/>
  </php>
</phpunit>
